{% extends 'GestionUsuarios/layout.html' %} &nbsp;&nbsp;
{% load static %}
{% block content %}
{% if request.session.Usuario %}
<script type="text/javascript">
                let suma = 0;

</script>
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">
    <a class="btn btn-warning"
       onclick="abrir_modal('{% url 'addHistoria' proyecto %}', '#modal', '{{ proyecto }}')"><span
            class="fa fa-plus-circle"></span> Nueva Historia</a>
    <a class="btn btn-warning" href="{% url 'metrica' proyecto %}"><span
            class="fa fa-area-chart"></span> Métrica</a>
</div>
<div class="container-fluid">
    <table class="table table-striped table-light">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nuevo</th>
            <th scope="col">#</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Encargado</th>
            <th scope="col">Tiempo Restante</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for historia in historias %}
        <tr>
            <td>
                <button id="mostrar{{ historia.codigo }}" class="btn"
                        onclick="ocultar('{{ historia.codigo }}', 'values{{ historia.codigo }}' )">
                    <i class="fa fa-angle-down"></i></button>
            </td>
            <td><a class="btn btn-success" onclick="abrir_modal('{% url 'addTarea' historia.codigo %}', '#modal')"><span
                    class="fa fa-plus-circle"></span></a>
                <a class="btn btn-danger" onclick="abrir_modal('{% url 'addBug' historia.codigo %}', '#modal')"><span
                        class="fa fa-plus-circle"></span></a>
            </td>
            <td>{{ historia.codigo }}</td>
            <td>{{ historia.descripcion }}</td>
            <td>{{ historia.integrante_Encargado }}</td>
            <td id="col {{ historia.codigo }}"></td>
            <td><a class="btn btn-info"
                   onclick="abrir_modal('{% url 'updateHistoria' historia.codigo %}', '#modal')"><span
                    class="fa fa-pencil-square-o"></span></a></td>
        </tr>
        {% for tarea in tareas %}
        {% if tarea.historia_Asociada.codigo == historia.codigo %}
        <script type="text/javascript">
                suma += {{ tarea.tiempo }};
                document.getElementById("col {{ historia.codigo }}").innerHTML = suma;

        </script>
        <tr class="values{{ historia.codigo }}">

            <td></td>
            <td></td>
            <td>{{ tarea.codigo }}</td>
            <td>{{ tarea.descripcion }}</td>
            <td>{{ tarea.integrante_Encargado }}</td>
            <td>{{ tarea.tiempo }}</td>
            <td><a class="btn btn-success" onclick="abrir_modal('{% url 'updateTarea' tarea.codigo %}', '#modal')"><span
                    class="fa fa-pencil-square-o"></span></a></td>

        </tr>
        {% endif %}
        {% endfor %}
        {% for bug in bugs %}
        {% if bug.historia_Asociada.codigo == historia.codigo %}
        <tr class="values{{ historia.codigo }}">

            <td></td>
            <td></td>
            <td>{{ bug.codigo }}</td>
            <td>{{ bug.descripcion }}</td>
            <td>{{ bug.integrante_Encargado }}</td>
            <td></td>
            <td><a class="btn btn-danger" onclick="abrir_modal('{% url 'updateBug' bug.codigo %}', '#modal')"><span
                    class="fa fa-pencil-square-o"></span></a></td>

        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">

</div>
{% else %}
<h1 align="center">No tienes acceso</h1>
{% endif %}
{% endblock %}
{% block extrajs %}
<script src="{% static '/js/modal.js' %}"></script>
{% endblock extrajs %}