{% extends 'GestionUsuarios/layout.html' %} &nbsp;&nbsp;
{{% load static %}
{% block content %}
<title>Home</title>
{% if request.session.Usuario %}
<div class="container-fluid">
<a class="btn btn-warning" onclick="abrir_modal('{% url 'addProject' %}', '#ventana_modal')"><span
                    class="fa fa-plus-circle"></span>Nuevo</a>

</div>
{% for proyecto in proyectos %}
<div class="container-fluid">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ proyecto.nombre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">#{{ proyecto.codigo }}</h6>
            <p class="card-text">{{ proyecto.descripcion }}</p>

            <a href="{% url 'historias' proyecto.codigo %}" class="card-link">Historias</a>
        </div>
    </div>
</div>
{% endfor %}
<!-- Modal -->
<div id="ventana_modal" class="modal fade" role="dialog">

</div>
{% else %}
<h1 align="center">No tienes acceso</h1>
{% endif %}
{% endblock %}
{% block extrajs %}
<script src="{% static '/js/modal.js' %}" ></script>
{% endblock extrajs %}


