{% extends 'GestionUsuarios/layout.html' %} &nbsp;&nbsp;
{{% load static %}
{% block content %}
<title>Home</title>
{% if request.session.Usuario %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
{% if request.session.Usuario != 'admin' %}
<div class="container-fluid">
    <div align="center">
        <a class="btn btn-warning" onclick="abrir_modal('{% url 'addProject' %}', '#ventana_modal')"><span
            class="fa fa-plus-circle"></span> Nuevo Proyecto</a>
    </div>
</div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for proyecto in proyectos %}
        <div class="col">
            <div class="card">
                <div class="card-header">{{ proyecto.nombre }}</div>
                <div class="card-body">
                    <h5 class="card-title">Equipo encargado: {{ proyecto.equipo_Asociado }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                    <p class="card-text">{{ proyecto.descripcion }}</p>
                    <a class="btn btn-info" href="{% url 'historias' proyecto.codigo %}"><span
                            class="fa fa-list"></span> Historias</a>
                    {% if rol == "Product Owner" %}
                    <a class="btn btn-info" onclick="abrir_modal('{% url 'updateProject' proyecto.codigo %}', '#ventana_modal')"><span
                            class="fa fa-pencil-square-o"></span> Editar</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<div class="container-fluid">
    <div align="center">
        <a class="btn btn-warning" onclick="abrir_modal('{% url 'addMember' %}', '#ventana_modal')"><span
            class="fa fa-plus-circle"></span> Nuevo Usuario</a>
    <a class="btn btn-info" href="{% url 'callSP' %}"><span
            class="fa fa-bolt"></span> Generar Data</a>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for usuario in usuarios %}
        <div class="col">
            <div class="card">
                <div class="card-header">{{ usuario.rol }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ usuario }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ usuario.usuario }}</h6>
                    <a class="btn btn-info"
                       onclick="abrir_modal('{% url 'updateMember' usuario.codigo %}', '#ventana_modal')"><span
                            class="fa fa-pencil-square-o"></span> Editar</a>
                    <a class="btn btn-danger"
                       href="{% url 'deleteMember' usuario.codigo %}"><span
                            class="fa fa-trash-o"></span> Eliminar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
<!-- Modal -->
<div id="ventana_modal" class="modal fade" role="dialog">

</div>
{% block extrajs %}
<script src="{% static '/js/modal.js' %}"></script>
{% endblock extrajs %}
{% else %}
<h1 align="center">No tienes acceso</h1>
{% endif %}
{% endblock %}



