{% extends 'GestionUsuarios/layout.html' %} &nbsp;&nbsp;

{% load static %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static '/css/metrica.css' %}">
{% block content %}
{% if request.session.Usuario and rol == 'Product Owner' %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
<figure class="highcharts-figure">
        <div id="container"></div>
    </figure>
<div class="container-fluid">

    {% if tareas %}
    <h5 align="center">Tareas pendientes del proyecto</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for tarea in tareas %}
        <div class="col">
            <div id="tarjeta{{tarea}}" class="card text-center text-white mb-3">
                <div class="card-header">{{tarea.estado}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ tarea.descripcion }}
                        <bold color="white" align="right">Código: #{{ tarea.codigo }}</bold>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Encargado: {{ tarea.integrante_Encargado }}</h6>
                </div>
            </div>
            {% if tarea.dias >= 1 and tarea.dias < 3 and tarea.tiempo_estimado|sub:tarea.tiempo < 6 %}
            <script type="text/javascript">document.getElementById("tarjeta{{tarea}}").classList.add("bg-warning");</script>
            {% elif tarea.dias >= 3 and tarea.dias < 6 and tarea.tiempo_estimado|sub:tarea.tiempo >= 6 %}
            <script type="text/javascript">document.getElementById("tarjeta{{tarea}}").classList.add("bg-danger");</script>
            {% else %}
            <script type="text/javascript">document.getElementById("tarjeta{{tarea}}").classList.add("bg-info");</script>
            {% endif %}
            </div>
            {% endfor %}

        {% endif %}
</div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script>
    var data = {
    timestamp : {{ dates|safe }},
    temps : {{ tendencia|safe }},
    temps2 : {{ actual|safe }}
}
 Highcharts.chart('container', {
        chart : {
            type : 'line',
            zoomType : 'x'
        },
        title : {
            text : 'Tendecia Actual vs Ideal',
            x : -20
        },
        xAxis : {
            categories : data.timestamp,
            labels : {
                rotation : -90,
                // the step config is how you control how many x-axis labes are shown
                // this will help when there are lots of labels
                step : 1
            }
        },
        yAxis : {
            title : {
                text : 'Horas'
            }
        },
        tooltip : {
            valueSuffix : 'h'
        },
        series : [
            {
                name : 'Ideal',
                data : data.temps
            },
            {
                name : 'Actual',
                data : data.temps2
            }
        ]
    });


        </script>
    </div>
    {% else %}
    <h1 align="center">No tienes acceso</h1>
    {% endif %}
    {% endblock %}
{% block extrajs %}
<script src="{% static '/js/modal.js' %}"></script>
{% endblock extrajs %}