{% extends 'GestionUsuarios/layout.html' %} &nbsp;&nbsp;
{% load static %}
{% block content %}
{% if request.session.Usuario == 'admin' %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
<div class="row row-cols-2 row-cols-md-2 g-4">
    <div>
        <div class="container-fluid">
<h2 align="center">Roles</h2>
    <a class="btn btn-success" onclick="abrir_modal('{% url 'addRol' %}', '#modalTablas')">
        <span class="fa fa-plus-circle"></span> Nuevo Rol</a>
</div>
<div class="container-fluid">
    <table class="table table-striped table-light">
        <thead>
        <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Costo x Hora</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for rol in roles %}
        <tr>
            <td>{{ rol.descripcion }}</td>
            <td>{{ rol.costo_Hora }}</td>
            <td><a class="btn btn-info" onclick="abrir_modal('{% url 'updateRol' rol.codigo %}', '#modalTablas')"><span
                    class="fa fa-pencil-square-o"></span></a>
            <a class="btn btn-danger" href="{% url 'deleteRol' rol.codigo %}"><span
                    class="fa fa-trash-o"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
<div>
    <div class="container-fluid">
<h2 align="center">Estados</h2>
    <a class="btn btn-success" onclick="abrir_modal('{% url 'addStatus' %}', '#modalTablas')">
        <span class="fa fa-plus-circle"></span> Nuevo Estado</a>
</div>
<div class="container-fluid">
    <table class="table table-striped table-light">
        <thead>
        <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for estado in estados %}
        <tr>
            <td>{{ estado.descripcion }}</td>
            <td><a class="btn btn-info" onclick="abrir_modal('{% url 'updateStatus' estado.codigo %}', '#modalTablas')"><span
                    class="fa fa-pencil-square-o"></span></a>
                <a class="btn btn-danger" href="{% url 'deleteStatus' estado.codigo %}"><span
                    class="fa fa-trash-o"></span></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

<!-- Modal -->
<div id="modalTablas" class="modal fade" role="dialog">

</div>
{% else %}
<h1 align="center">No tienes acceso</h1>
{% endif %}
{% endblock %}
{% block extrajs %}
<script src="{% static '/js/modal.js' %}"></script>
{% endblock extrajs %}